.container .row nav ul, .contenedorPilates, .contenedor-grid .section-uno, .contenedorMain, .contacto-grid .img-redes {
  display: flex;
  margin: 0 auto; }

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* color de fondo */
body {
  background-color: #F4BFBF; }

/* ESTILOS HEADER */
.container .row .titulo-principal {
  background-image: linear-gradient(to top, #f9d8df, #e099a5);
  font-size: 30px;
  font-family: "Arimo", sans-serif;
  padding: 1.3rem;
  text-align: center;
  width: 100%; }

.container .row nav ul {
  background-image: linear-gradient(to top, #e992c3, #8c6b7f);
  flex-direction: column;
  justify-content: space-around; }
  .container .row nav ul li {
    background-color: #d0a8ae;
    display: inline;
    margin: 10px 40px;
    padding: 10px;
    box-shadow: 1px 1px black;
    border-radius: 10px; }
    .container .row nav ul li a {
      font-family: "Arimo", sans-serif;
      font-size: 22px;
      text-decoration: none; }

/* subtitulos */
h2, h3 {
  font-family: "Arimo", sans-serif;
  text-align: center;
  margin-top: 1rem; }

/* ESTILOS MAIN INDEX */
.contenedorMain {
  width: 90%;
  margin: 0 auto; }
  .contenedorMain .contenidoMain {
    display: flex;
    flex-direction: column; }
    .contenedorMain .contenidoMain .nombre-profe {
      text-align: left;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 22px;
      font-family: "Arimo", sans-serif; }
    .contenedorMain .contenidoMain .textoMain p {
      margin: 25px 0 20 0;
      font-size: 20px;
      font-family: "Arimo", sans-serif;
      text-align: left;
      line-height: 1.5; }
    .contenedorMain .contenidoMain .titulo-general {
      font-size: 30px;
      border: solid 1px black;
      margin-top: 50px;
      margin-bottom: 50px;
      font-family: "Arimo", sans-serif;
      background-color: #cba2cb; }

/*INDEX SECTION */
.contenedorMain .contenidoMain .textoMain p {
  font-size: 1rem; }

.contenedorInfo {
  width: 90%;
  margin: 0 auto; }
  .contenedorInfo .introduccionImg .imgInfo {
    width: 90%;
    margin: 1.5rem 0 1.5rem 0; }
  .contenedorInfo .introduccionTexto p {
    font-family: "Arimo", sans-serif; }
  .contenedorInfo .introduccionImg2 .imgInfo {
    width: 90%;
    margin-bottom: 1.5rem; }

/* PAGINA PILATES */
.contenedorPilates {
  width: 90%;
  flex-direction: column;
  justify-content: center;
  /* video*/ }
  .contenedorPilates .imgPilates {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-image-width: auto; }
  .contenedorPilates .textoPilates {
    text-align: center;
    /*preguntas y respuestas */ }
    .contenedorPilates .textoPilates .pregunta h3 {
      font-size: 19px;
      font-weight: bold;
      margin: 25px 0 5px 0;
      text-transform: uppercase;
      background-color: #8CC0DE;
      padding: 10px; }
    .contenedorPilates .textoPilates .pregunta h4 {
      font-size: 19px;
      font-weight: bold;
      margin: 25px 0 5px 0;
      text-transform: uppercase;
      background-color: #8CC0DE;
      padding: 10px; }
    .contenedorPilates .textoPilates .pregunta p {
      font-size: 18px;
      line-height: 1.2; }
  .contenedorPilates .videoPilates .videoUno {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem; }

/* PAGINA ELONGACION */
.contenedor-grid .section-uno .imgElongacion {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3rem; }

.contenedor-grid .section-dos {
  display: flex;
  margin: 0 auto; }
  .contenedor-grid .section-dos .imgElongacion {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem; }

.contenedor-grid .section-tres {
  display: flex;
  margin: 5px;
  flex-direction: column; }
  .contenedor-grid .section-tres .texto-elongacion {
    margin: 0.5rem;
    text-align: center;
    font-size: 15px;
    font-family: "Arimo", sans-serif; }

/* PAGINA YOGA */
.contenedorMain {
  flex-direction: column; }

.contenedorMain iframe {
  width: 100%; }

.contenedorMain .subtitulo-yoga {
  font-family: "Arimo", sans-serif;
  background-color: #8CC0DE;
  text-align: center;
  margin: 1.5rem; }

/* PAGINA CLASES */
.contenedorMain .img-clases {
  display: flex;
  width: 100%;
  margin: 0 auto; }

.sectionClases {
  margin: 1.3rem; }
  .sectionClases .p-clases {
    font-size: 1rem;
    text-align: center;
    font-family: "Arimo", sans-serif; }

.tarjetas {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  margin: 3rem 0.5rem;
  justify-content: center; }
  .tarjetas .card .tamanio .card-title {
    font-size: 19px;
    background-color: #F4BFBF; }
  .tarjetas .bg-tarjeta {
    background-color: #FFD9C0;
    font-family: "Arimo", sans-serif; }

/* PAGINA CONTACTO */
form {
  margin: 0 auto;
  width: 450px;
  background-color: #bda3bd;
  padding: 2px;
  border-style: double;
  font-size: 20px; }
  form fieldset input, form fieldset label, form fieldset textarea {
    padding: 0.3rem;
    margin: 0.2rem; }

/*redes */
.contacto-grid {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.4fr;
  grid-template-rows: 0.3fr 0.5fr 1.5fr 0.3fr 0.5fr 0.2fr;
  grid-template-areas: "header header header" "main main main" "form form form" "buscanos buscanos buscanos" "instagram facebook tiktok" "footer footer footer"; }
  .contacto-grid .img-redes {
    width: 35%; }
  .contacto-grid h3 {
    background-color: #8CC0DE;
    font-family: "Arimo", sans-serif;
    margin: 2rem 1rem; }

header {
  grid-area: header; }

main {
  grid-area: main; }

form {
  grid-area: form; }

h3 {
  grid-area: buscanos; }

.instagram {
  grid-area: instagram; }

.facebook {
  grid-area: facebook; }

.tiktok {
  grid-area: tiktok; }

footer {
  grid-area: footer; }

/*BOTON DE WSP */
.contenedor-btn {
  background-color: #2e6329;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite; }
  .contenedor-btn .contenedor-btn:hover {
    transform: scale(1.1);
    transition: 0.3s; }
  .contenedor-btn a .boton {
    width: 50px;
    transition: ease 1s; }

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85); }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0); } }

/*ESTILO FOOTER */
footer h2 {
  background-color: #cba2cb;
  font-size: 1rem;
  text-align: center; }

/*QUERY PARA TABLET*/
@media screen and (min-width: 576px) and (max-width: 991px) {
  .container .row .titulo-principal {
    font-size: 40px; }
  .contenedorMain .contenidoMain .textoMain p {
    font-size: 22px; }
  .contenedorInfo .introduccionTexto p {
    font-size: 22px; }
  /* PAGINA ELONGACION */
  .section-tres .texto-elongacion {
    font-size: 20px; } }

/* PAGINA CLASES */
.sectionClases p {
  font-size: 1.5rem;
  margin-bottom: 5rem; }

/*QUERY PARA DESKTOP*/
/* GENERALES */
@media screen and (min-width: 992px) {
  .container {
    position: sticky; }
    .container .row .titulo-principal {
      font-size: 60px; }
    .container .row .nav-desk {
      display: block; }
      .container .row .nav-desk div ul {
        flex-direction: row;
        justify-content: space-evenly; }
        .container .row .nav-desk div ul li:hover {
          background-color: #f5a3b0;
          transform: scale(0.9);
          box-shadow: 1px 1px 5px violet;
          border-radius: 10px; }
  /* INDEX */
  .contenedorMain .contenidoMain .nombre-profe {
    font-size: 30px; }
  .contenedorMain .contenidoMain .textoMain p {
    font-size: 27px; }
  .contenedorMain .contenidoMain .titulo-general {
    font-size: 35px; }
  .contenedorInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 15px;
    margin-top: 50px;
    text-align: center; }
    .contenedorInfo .introduccionImg2 {
      grid-area: 2 / 2 / 2 / 2; }
    .contenedorInfo .introduccionTexto {
      display: flex;
      align-items: center;
      font-size: 25px; }
    .contenedorInfo .imgInfo {
      width: 80%; }
  /* PILATES */
  .contenedorPilates div .imgPilates {
    width: 70%;
    height: 800px;
    margin: 0 auto; }
  .contenedorPilates .textoPilates {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px; }
    .contenedorPilates .textoPilates .pregunta {
      border: 2px dotted blue;
      margin: 15px; }
      .contenedorPilates .textoPilates .pregunta h4 {
        margin: 0px;
        padding: 10px; }
  .contenedorPilates .videoPilates .videoUno {
    width: 70%;
    height: 600px;
    margin: 0 auto;
    padding-top: 25px; }
  /* ELONGACION */
  .contenedor-grid {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.3fr 0.5fr 1fr 1fr 0.2fr;
    grid-template-areas: "header header" "main main" "section-uno section-dos" "section-tres section-tres" "footer footer"; }
    .contenedor-grid .section-tres .texto-elongacion {
      font-size: 25px; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  .section-uno {
    grid-area: section-uno; }
  .section-dos {
    grid-area: section-dos; }
  .section-tres {
    grid-area: section-tres; }
  footer {
    grid-area: footer; }
  /* CLASES */
  .sectionClases .p-clases {
    font-size: 1.3rem;
    margin-bottom: 5rem; }
  .contenedorMain .img-clases {
    display: flex;
    width: 70%;
    margin: 0 auto; }
  .contenedorMain .container-fluid {
    display: flex;
    align-content: center; }
  /*animacion tarjetas */
  .tarjetas .card:hover {
    transform: scale(1.2); }
  /*YOGA */
  .contenedorMain p {
    font-size: 25px; }
  .contenedorMain h3 {
    font-size: 30px; }
  /* CONTACTO */
  .contacto-grid .instagram {
    display: flex;
    justify-content: flex-end; }
  .contacto-grid .facebook {
    display: flex;
    justify-content: center; }
  .contacto-grid .tiktok {
    display: flex;
    justify-content: flex-start; } }
