//colores 
$color-body: linear-gradient(to top, #f9d8df, #e099a5);
$color-ul: linear-gradient(to top, rgb(233, 146, 195), rgb(140, 107, 127));
$color-li: rgb(208, 168, 174);
$color-form: rgb(189, 163, 189);

// font family
$letra-ppal: 'Arimo', sans-serif;

//font size tablet
$font-size-tablet: 20px;

//font size desktop
$font-size-desktop: 25px;

//width general
$width-general: 90%;

